# =========================
# Python virtual env
# =========================
backend/.venv/

# =========================
# Python cache
# =========================
backend/**/__pycache__/
*.pyc

# =========================
# Environment variables
# =========================
backend/.env
.env

# Medical data / large files
backend/medical_data/
*.pdf